<% if @current_user.ratings_count < 5 %>
  <section class = "jumbotron text-center">  
    <div class="container">
        <h1 class="jumbotron-heading">Let's Get Started</h1>
        <p class = "lead text-muted">
          To allow us to start making recommendations, please rate a few restaurants. <br />
          After 5 rankings, we'll begin to show you tailored options.  
        </p>
    </div>
  </section>

  <hr>
<% else %>

  <section class = "jumbotron text-center">  
    <div class="container">
        <h1 class="jumbotron-heading">Your Ratings</h1>
        <p class = "lead text-muted">
          To allow us to start making recommendations, please rate a few restaurants. <br />
          After 5 rankings, we'll begin to show you tailored options.  
        </p>

    </div>
  </section>
<% end %>



<div class = "container">
  
  <div class="row mb-3">
    <div class="col-md-8 offset-md-2">
      <h2>
        Add a new rating
      </h2>

      <% if @selected_restaurant.nil? %>

        <form action="/lookup_restaurant">
          <div class="form-group">
            <label for="rest">
              Restaurant
            </label>

            <input class="form-control" type="text" placeholder="Search" aria-label="Search" id="rest" name="rest_name">

            <button class ="btn btn-sm btn-outline-secondary">Find Restaurant</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
      

        <% if @searched_restaurant.present? %>

          <div class = "container">
            <div class = "row">
              <div class = "col-md-4">
                <div class= "card mb-4 box-shadow">
                  <img class = "card-img-top img-thumbnail" src = "<%=@searched_restaurant.image%>">

                  <div class="card-body">
                    <p class = "card-text"><%= @searched_restaurant.name %> </p>
                    <p class = "card-text"><%= @searched_restaurant.category %> </p>
                    <p class = "card-text"><%= @searched_restaurant.address %></p>

                    <form action="/insert_restaurant" method="post">
                      <input type="hidden" value = "<%=@searched_restaurant.name %>" name="query_name">
                      <input type="hidden" value = "<%=@searched_restaurant.address %>" name="query_address">
                      <input type="hidden" value = "<%=@searched_restaurant.image %>" name="query_image">
                      <input type="hidden" value = "<%=@searched_restaurant.category %>" name="query_category">
                      <div class="form-group">
                        <button class ="btn btn-sm btn-outline-secondary">Select</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          <div>
        <% end %>
      <% end %>

    <% if @restaurant.present?%>

      <div class = container>

        <img class = "card-img-top" src = "<%=@restaurant.image%>">
        <h2 class="jumbotron-heading"><%=@restaurant.name%></h2>
        <h3 class="jumbotron-heading"><%=@restaurant.address%></h3>
        <h3 class="jumbotron-heading"><%=@restaurant.category%></h3>
        

        <form action="/insert_rating" method="post">
          <div class="form-group">
            <input class="form-control" type="hidden" value = "<%=@restaurant.id%>" name="query_restaurant_id">          
          </div>

          <div class="form-group">

            <label for="rating_box">
              Rating
            </label>
            <span class="font-weight-bold indigo-text mr-2 mt-1">0</span>
            
              <input class="border-0" type="range" min="0" max="5" step="1" id="rating_box" name="query_rating">
            
            <span class="font-weight-bold indigo-text ml-2 mt-1">5</span>
          </div>      
          <div class="form-group">
            <label for="comment_box">
              Comment
            </label>

            <textarea id="comment_box" name="query_comment" class="form-control" rows="1" placeholder="Optional..."></textarea>
          </div>

          <button class="btn btn-block btn-outline-secondary">
            Create rating
          </button>
        </form>



      </div>  
    <% end %>




<br>
<br>
    

<div class="container">

  <div class="row mb-3 jumbotron-heading">

    <div class="col-md-8 offset-md-2">

      <h2>My Ratings</h2>
    </div>

  </div>
   
  <div class = "row">
    <% @current_user.ratings.each do |rating| %>        
    <div class = "col-md-4">
      <div class= "card mb-4 box-shadow">
        <img class = "card-img-top img-thumbnail" src = "<%=rating.restaurant.image%>">
        <div class="card-body">
          <h3 class="card-text">
            <%=rating.restaurant.name%>
          </h3>
          <% if @open_rating.nil? %>
            <p class="card-text">
              <%=rating.rating%>
            </p>
          <% end %>

          <div class = "d-flex jutify-content-between align-items-center">

            <div class = "btn-group">

              
              
              <% if @open_rating.nil? %>
                <div class="form-group">
                  <form action = "/open_edit/<%= rating.id %>">
                    <button class ="btn btn-sm btn-outline-secondary">Edit</button>
                  </form>
                </div>
                <div class="form-group">
                  <form action="/delete_rating/<%= rating.id %>">
                    <button class="btn btn-sm btn-outline-secondary">Delete</button>
                  </form>
                </div>
              <% else%>
                <% if session.fetch(:edit_rest_id) == rating.restaurant_id %>
                  <div class = "form-group"> 
                    <form action = "/modify_rating/<%= rating.id %>" method = "post">
                      <label for="rating_box2">
                        New Rating
                      </label>
                      <br>
                      
                      <span class="font-weight-bold indigo-text mr-2 mt-1">0</span>
                      
                        <input class="border-0" type="range" min="0" max="5" step="1" id="rating_box2" name="query_rating">
                      
                      <span class="font-weight-bold indigo-text ml-2 mt-1">5</span>
                      <input type="hidden" value = "<%= rating.restaurant.id %>" name="query_restaurant_id">
                      <br>
                      <button class ="btn btn-sm btn-outline-secondary">Update</button>
                    </form>
                  </div>
                  <div class = "form-group">  
                    <form action="/delete_rating/<%= rating.id %>">
                      <button class="btn btn-sm btn-outline-secondary">Delete</button>
                    </form>
                  </div>

                <% end %>

              
                  
              <% end %>
              


            </div>

            

          </div>

        </div>

      </div>
    </div>

    <% end %>
  
  </div>


</div>
