<head>


</head>

<body>

<% if @current_user.ratings.count < 5 %>
  <div class = "container">

   <div class="row">

      <div class="col-md-12">
   

          <h1>Let's Get Started</h1>
      </div>
    </div>
    <div class="row">

      <div class="col-md-12">
        <p class = "bg-danger text-white p-3">
          Please rate a few restaurants! After 5 rankings, we'll begin to show you tailored options on your dashboard.
        </p>

      </div>
    </div>
  
  </div>
  

  <hr>
<% else %>

  
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h1>Your Ratings</h1>


      </div>
    </div>
    <div class="row">

      <div class="col-md-12">
        <p class = "bg-success text-white p-3">
          Tailored options are available on your dashboard.
        </p>

      </div>
    </div>
  </div>

  <hr>
  
<% end %>



<div class = "container">
  
  <div class="row">
    <div class="col-md-6">
      <h2>
        Add a new rating
      </h2>

      <% if @selected_restaurant.nil? %>

        <form action="/lookup_restaurant">
          <div class="form-group">
            <label for="rest">
              Restaurant
            </label>

            <input class="form-control" type="text" placeholder="Search" aria-label="Search" id="rest" name="rest_name">

            <button class ="btn btn-sm btn-outline-secondary mt-2">Find Restaurant</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
      

        <% if @searched_restaurant.present? %>
          <% if @current_user.rated_restaurants.where({ :name => @searched_restaurant.name }).at(0).present?%>
            <div class= "container">
              <div class="col-md-8">
                <p class = "lead text-muted"><small> Notice: Already Rated </small></p>
              </div>
            </div>
          <% end %>
          <% if @current_user.rated_restaurants.where({ :name => @searched_restaurant.name }).at(0).nil?%>

          

            <div class = "container">
              <div class = "row">
                <div class = "col-md-4">
                  <div class= "card mb-4 box-shadow">
                    <img class = "card-img-top img-thumbnail" src = "<%=@searched_restaurant.image%>">

                    <div class="card-body">
                      <h5 class = "card-text"><%= @searched_restaurant.name %> </h5>
                      <p class = "card-text"><%= @searched_restaurant.category %> <br>
                      <%= @searched_restaurant.address %></p>

                      <form action="/insert_restaurant" method="post">
                        <input type="hidden" value = "<%=@searched_restaurant.name %>" name="query_name">
                        <input type="hidden" value = "<%=@searched_restaurant.address %>" name="query_address">
                        <input type="hidden" value = "<%=@searched_restaurant.image %>" name="query_image">
                        <input type="hidden" value = "<%=@searched_restaurant.category %>" name="query_category">
                        <div class="form-group">
                          <button class ="btn btn-sm btn-outline-secondary">Select</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>

    <% if @restaurant.present?%>

      <div class = container>
      

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12 align-bottom mb-2">
            <h1>
              <%=@restaurant.name%>
            </h1>
          </div>
        </div>

        

        <img class = "img-fluid mb-4" src = "<%= @restaurant.image %>">

        <div class = "row">

          <div class = "col-md-6 pb-1">
            <div style = "color: #b7c0c6;">
              <small>Address:</small>
            </div>
            <button class="btn btn-block btn-outline-secondary"><%=@restaurant.address%></button>
          </div> 
          <div class = "col-md-6 pb-1">
            <div style = "color: #b7c0c6;">
              <small>Category:</small>
            </div>
            <button class="btn btn-block btn-outline-secondary"><%=@restaurant.category%></button>
          </div> 
        </div>        
        


        

        <form action="/insert_rating" method="post">
          <div class="form-group">
            <input class="form-control" type="hidden" value = "<%=@restaurant.id%>" name="query_restaurant_id">          
          </div>

          <div class="form-group">

            <label for="rating_box">
              Rating
            </label>
            <span class="font-weight-bold indigo-text mr-2 mt-1">0</span>
            
              <input class="border-0" type="range" min="0" max="5" step="1" id="rating_box" name="query_rating">
            
            <span class="font-weight-bold indigo-text ml-2 mt-1">5</span>
          </div>      
          <div class="form-group">
            <label for="comment_box">
              Comment
            </label>

            <textarea id="comment_box" name="query_comment" class="form-control" rows="1" placeholder="Optional..."></textarea>
          </div>

          <button class="btn btn-block btn-outline-secondary">
            Create rating
          </button>
        </form>



      </div>  
    <% end %>




<br>
<br>
    

<div class="container">   
  <div class = "row">
    <% @current_user.ratings.each do |rating| %>        
    <div class = "col-md-3 pb-4">
      <div class= "card box-shadow h-100">
        <img class = "card-img-top img-thumbnail" style="width: 100%; height: 200px; object-fit: cover;" src = "<%=rating.restaurant.image%>">
        <div class="card-body">
          <h6 class="card-text">

            <a href = "/restaurants/<%=rating.restaurant.id%>"><%=rating.restaurant.name%></a>
            
          </h6>
          <% if @open_rating.nil? %>
            <div style = "color: #b7c0c6;">
              <small>Your Rating:</small>
            </div>
            <button class="btn btn-sm btn-block btn-primary mb-2"> <%=rating.rating%></button>
          <% end %>

          <div class = "d-flex jutify-content-between align-items-center">

            <div class = "btn-group">

              
              
              <% if @open_rating.nil? %>
                <div class="form-group mr-1">
                  <form action = "/open_edit/<%= rating.id %>">
                    <button class ="btn btn-sm btn-outline-secondary">Edit</button>
                  </form>
                </div>
                <div class="form-group mr-1">
                  <form action="/delete_rating/<%= rating.id %>">
                    <button class="btn btn-sm btn-outline-secondary">Delete</button>
                  </form>
                </div>
              <% else%>
                <% if session.fetch(:edit_rest_id) == rating.restaurant_id %>
                  <div class = "form-group"> 
                    <form action = "/modify_rating/<%= rating.id %>" method = "post">
                      <label for="rating_box2">
                        New Rating
                      </label>
                      <br>
                      
                      <span class="font-weight-bold indigo-text mr-2 mt-1">0</span>
                      
                        <input class="border-0" type="range" min="0" max="5" step="1" id="rating_box2" name="query_rating">
                      
                      <span class="font-weight-bold indigo-text ml-2 mt-1">5</span>
                      <input type="hidden" value = "<%= rating.restaurant.id %>" name="query_restaurant_id">
                      <br>
                      <button class ="btn btn-sm btn-outline-secondary">Update</button>
                    </form>
                  </div>
                  <div class = "form-group">  
                    <form action="/delete_rating/<%= rating.id %>">
                      <button class="btn btn-sm btn-outline-secondary">Delete</button>
                    </form>
                  </div>

                <% end %>

              
                  
              <% end %>
              


            </div>

            

          </div>

        </div>

      </div>
    </div>

    <% end %>
  
  </div>


</div>


</body>
