<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Restaurant #<%= @restaurant.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/restaurants" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/delete_restaurant/<%= @restaurant.id %>" class="btn btn-block btn-outline-secondary">
          Delete restaurant
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @restaurant.name %>
      </dd>

      <dt>
        Address
      </dt>
      <dd>
        <%= @restaurant.address %>
      </dd>

      <dt>
        Category
      </dt>
      <dd>
        <%= @restaurant.category %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <%= @restaurant.image %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@restaurant.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@restaurant.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Edit restaurant
    </h2>

    <form action="/modify_restaurant/<%= @restaurant.id %>"  method="post" >
      <div class="form-group">
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" class="form-control" value="<%= @restaurant.name %>">
      </div>

      <div class="form-group">
        <label for="address_box">
          Address
        </label>

        <input type="text" id="address_box" name="query_address" class="form-control" value="<%= @restaurant.address %>">
      </div>

      <div class="form-group">
        <label for="category_box">
          Category
        </label>

        <input type="text" id="category_box" name="query_category" class="form-control" value="<%= @restaurant.category %>">
      </div>

      <div class="form-group">
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" class="form-control" value="<%= @restaurant.image %>">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Update restaurant
      </button>
    </form>
  </div>
</div>

<hr>
