<!DOCTYPE html>
<html>
<head>
  <title>
    FinalProject
  </title>

  <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
  <meta charset="utf-8">

  <!-- Make it responsive to small screens. Include only if you're using responsive CSS. -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Helper methods that create <link>s and <script>s for all of the stylesheets and javascript files in the non-`/public/` assets folders. -->
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_pack_tag  'application' %>

  <!-- Rendering a partial that has all the <link>s and <script>s for assets we are pulling from content-delivery networks. -->
  <%= render "shared/cdn_assets" %>

  <link rel="stylesheet" type="text/css" href="dashboard.css">
  

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <style>
    body { padding-bottom: 70px }
  </style>
</head>

<body>
  <%= render "shared/navbar" %>

  <div class="container">
    <%= render "shared/flashes" %>

    <%= yield %>
  </div>

</body>

<footer class = "bg-light" style= "box-shadow: 0 50vh 0 50vh #f8f9fa;">
  
			<div class="row pt-4" style = "background-color: #f8f9fa">
        <div class = "container">
          <div class="col-md-6">
            <h4>Morsel</h4>
            <p>151 N Michigan Ave.<br>
              Chicago, IL <br>
              612-850-0330
            </p>
            
           
          </div>
        </div>
        <div class="container">
          <div class = "col-md-6">
             <p><a class="btn btn-primary" href="#">Connect </a></p>
          </div>
          <div class="col-md-12 text-center">
            <p>
              <small class="block">&copy; 2020 | All Rights Reserved.</small> 
            
            </p>
          </div>
        </div>

			</div>


    
		
	</footer>
</html>
